/* 공통 */

body {
    background-color: rgba(238, 243, 243, 1);
    margin: 0;
    padding-top: 65px;
}

.card {
    background-color: white;
    box-shadow: 0 1px 10px rgba(190, 190, 190, 1);
    margin: auto;
}

.button {
    outline: 0;
    border: 0;
    color: #ffffff;
}


/* teacher 페이지 */

#teacher-header {
    background-color: white;
    box-shadow: 3px;
    width: 100%;
    height: 45px;
    color: rgba(190, 190, 190, 1);
    box-shadow: 0 3px 5px rgba(150, 150, 150, 1);
    padding-left: 5%;
    padding-right: 5%;
    line-height: 45px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

#teacher-title {
    font-size: 27px;
    float: left;
    width: 30%;
    cursor: pointer;
}

#teacher-login {
    font-size: 18px;
    width: 15%;
    float: right;
    cursor: pointer;
}

#teacher-icons {
    margin-left: 20px;
    float: left;
}

#teacher-icons>div {
    background-color: white;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    color: rgba(150, 150, 150, 1);
    margin: 5px;
    box-shadow: 3px 3px 5px rgba(190, 190, 190, 1);
}

#teacher-main {
    width: 60%;
    margin-top: 25px;
    padding: 30px;
    box-sizing: border-box;
}

#teacher-input-title {
    width: 80%;
    height: 55px;
    line-height: 55px;
    font-size: 35px;
    padding-left: 5px;
    border: 0;
    border-bottom: 2px solid rgba(190, 190, 190, 1);
    color: black;
}

#teacher-input-title::placeholder {
    color: rgba(150, 150, 150, 1);
}

#teacher-input-date {
    margin-top: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 30px;
}

#teacher-input-date>input {
    font-size: 20px;
    text-align: right
}

#teacher-input-year {
    width: 70px;
}

#teacher-input-month {
    width: 40px;
}

#teacher-input-day {
    width: 40px;
}

#teacher-making {
    width: 60%;
    margin-top: 40px;
    padding-top: 40px;
    padding: 30px;
    box-sizing: border-box;
}

.teacher-subjective {
    padding: 30px;
    box-sizing: border-box;
    height: 300px;
    width: 100%;
    margin-bottom: 50px;
    position: relative;
}

.teacher-q-title {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    border: 0;
    border-bottom: 2px solid rgba(190, 190, 190, 1);
    width: 40%;
    padding-left: 5px;
}

.teacher-q-title::placeholder {
    color: rgba(150, 150, 150, 1);
}

.teacher-q-checkbox{
    display: inline-block;
    border: 1px solid black;

}

.teacher-q-checkbox:visited{

}

.teacher-q-check-YorN {
    margin: 10px;
    border: 0;
}

.teacher-q-check-answer {
    margin-top: 20px;
}

#teacher-q-contents {
    margin-top: 3%;
    width: 100%;
    height: 180px;
}

.add-q-button {
    border-radius: 25px;
    background-color: #80cbc4;
    padding: 15px 18px 15px 18px;
    position: absolute;
    top: 90%;
    left: 98%;
}


#add-subjective-card {
    padding: 10px 30px 10px 30px;
    background-color: #80cbc4;
    display: inline;
}

#add-subjective-card>i {
    opacity: 0.5;
}